#chart {
  max-width: 650px;
  margin: 35px auto;
}

/*div.card-footer{*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  flex-wrap: wrap;*/
/*  align-content: center;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
/*}*/

form{
  display: flex;
  justify-content: space-between;
}

.load-chart{
  width: 100%;
  height: 350px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
