<!--<div class="footer bg-dark shadow">-->
<!--  <div class="card-body text-center text-light">-->
<!--    Made by Yushchenko Yaroslav-->
<!--    <span class="badge bg-secondary">To pass the Java exam</span>-->
<!--  </div>-->
<!--</div>-->
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top shadow" style="z-index: 1000">
<div class="container">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
    </a>
    <span class="text-muted">© 2022 Made by <span data-bs-toggle="modal" data-bs-target="#exampleModal">Yushchenko Yaroslav Serhiyovych</span></span>
  </div>

  <!--  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">-->
  <!--    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>-->
  <!--    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>-->
  <!--    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>-->
  <!--  </ul>-->
</div>
</footer>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Yushchenko Yaroslav Serhiyovych</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">Spring</li>
          <li class="list-group-item">Angular</li>
          <li class="list-group-item">MySQL Server</li>
          <li class="list-group-item">Bootstrap</li>
        </ul>
      </div>
      <div class="modal-footer">Made as an exam project, from the subject of <span>"Programowanie w języku JAVA"</span></div>
    </div>
  </div>
</div>
