<div class="card shadow-sm mt-4">
  <div class="card-header bg-dark text-light h5">
    Access JWT token <mat-icon>key</mat-icon>
  </div>
  <div class="card-body">
    {{accessToken}}
  </div>
</div>

<div class="row">
  <div class="col-sm-6 mt-4">
    <div class="card">
      <div class="card-body">
        <form action="" class="mt-2" [formGroup]="userDataForm" (ngSubmit)="updateUser()">
          <div class="form-floating mb-3" style="display: none">
            <input type="text" class="form-control" placeholder="Firstname" formControlName="firstname">
            <label>Firstname</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Firstname" formControlName="firstname">
            <label>Firstname</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Middlename" formControlName="middlename">
            <label>Middlename</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Lastname" formControlName="lastname">
            <label>Lastname</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Email" formControlName="email">
            <label>Email</label>
          </div>
          <hr>
          <div class="d-grid gap-2 mx-auto mt-2">
            <button class="btn btn-dark" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mt-4">
    <div class="card">
      <div class="card-body">
        <form action="" class="mt-2">
          <div class="form-floating mb-3">
            <input type="password" class="form-control" placeholder="Current password">
            <label>Current password</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" placeholder="New password">
            <label>New password</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" placeholder="Confirm new password">
            <label>Confirm new password</label>
          </div>
          <hr>
          <div class="d-grid gap-2 mx-auto mt-2">
            <button class="btn btn-dark" type="button">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
