<div class="container">
  <div class="row">
    <div class="col-sm-5 mt-4">
      <div class="card rounded-lg shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-center">Login</h5>
          <hr>
          <form action="" class="mt-2">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" placeholder="name@example.com">
              <label>Email address</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" placeholder="Password">
              <label>Password</label>
            </div>
            <hr>
            <div class="d-grid gap-2 mx-auto mt-2">
              <button class="btn btn-dark" type="button">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-7 mt-4">
      <div class="card rounded-lg shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-center">SignUp</h5>
          <hr>
          <form action="" class="mt-2">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" placeholder="Firstname">
              <label>Firstname</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" placeholder="Middlename">
              <label>Middlename</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" placeholder="Lastname">
              <label>Lastname</label>
            </div>

            <div class="form-floating mb-3">
              <input type="email" class="form-control" placeholder="Email">
              <label>Email</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" placeholder="Password">
              <label>Password</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" placeholder="Confirm Password">
              <label>Confirm Password</label>
            </div>
            <hr>
            <div class="d-grid gap-2 mx-auto mt-2">
              <button class="btn btn-dark" type="button">SignUp</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
